@model Genealoge.Models.ChildShortViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Додайте інформацію про дитину:</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ThirdName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ThirdName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ThirdName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PhotoPath, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PhotoPath, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PhotoPath, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(model => model.Gender, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PotentialParent, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PotentialParent.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.EditorFor(model => model.PotentialParent.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.EditorFor(model => model.PotentialParent.ThirdName, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        
        
        <div>
            <h5>Вибрати із сімейного стану</h5>
            <hr />
            <div class="container well">
            @foreach (var potential in Model.PotentialParents)
            {
                @Html.RadioButtonFor(model => model.PotentialParentId, potential.Id)

                <label class="checkbox-inline">           
                    @if (Model.PhotoPath != null && Model.PhotoPath != "")
                    {
                        <img src="@Url.Content(@Model.PhotoPath)" alt="Sample Image" width="100px" />
                    }
                    else {<img src="~/Resourses/photo3.png" alt="Sample Image" width="100px" />}           
            
                    @Html.DisplayFor(model => potential.FirstName)
                    @Html.DisplayFor(model => potential.LastName)
                    @Html.DisplayFor(model => potential.ThirdName)
            
                </label>

             }
            </div>
        </div>

        
        <div class="container well">
            <h5>Пошук в базі</h5>
            <hr />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Зберегти" class="btn btn-default" />
        </div>
    </div>
</div>
}